h4 {
	color: green;
}
/*
.fa-sign-in{
	color: #c0c0c0;
}
.fa-home {
	color: #c0c0c0;
}
*/
.fa-hand-o-up {
	color: #e4df21;
}

.capitalized {
	text-transform: capitalize;
}

.no-borders{
	border: none;
	/*
	border-right:none;
	border-top:none;
	border-bottom:none;
	border-left-color: black;
	border-width: medium;	
	*/
}

.identity-form {
	border-color: black;
	border-width: thin;
}

.black-color{
	color: black;
}

#personal{
	overflow: hidden;
}

.roundImg{
	border-radius: 20px;
}
.mymap{
	 padding-left: 6cm;
}
.centredBold{
	font-weight: bold;	
	text-align: right;
}